@model SearchViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


<h1>@localizer["search"]</h1>
<form asp-controller="Appointment" asp-action="Search" method="get" class="form-inline mb-5">
    <div class="d-flex flex-row ">
        <div class="form-group" style="width:350px">
            <label for="searchTerm">@localizer["ch"] </label>
            <input id="searchTerm" width:390px; asp-for="SearchString" class="form-control ml-1" />
        </div>
    </div>

    <div class="d-flex flex-row ">

        <div class="form-group form-check" style="margin-right:8px">
            <div>
                <input asp-for="FirstNamefilter" class="form-check-input" style="margin-top:12px" />
                <label asp-for="FirstNamefilter" style="margin-top:8px" class="form-check-label"></label>
            </div>
        </div>
        <div class="form-group form-check" style="margin-right:8px">
            <div>
                <input asp-for="LastNameFilter" class="form-check-input" style="margin-top:12px" />
                <label asp-for="LastNameFilter" style="margin-top:8px" class="form-check-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary">@localizer["search"]</button>
    </div>
</form>


@await Html.PartialAsync("_Patient",Model.Appointements)

