@model PharmaWeb.Data.Product

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail of the product</h1>
<hr />

@await Html.PartialAsync("_ProductDetail")

@if (User.HasClaim(claim => claim.Type == "CanEditProduct"))
{

    <form  asp-controller="Product"  asp-action="Delete"  asp-route-id="@Model?.Id" method ="post">
    <button class="btn btn-danger" style="margin-right:15px" a>Delete the product</button>
    <a class="btn btn-primary" asp-action="Index">Back to overview</a>
    </form>
}


@if (User.Identity.IsAuthenticated)
{
    <div>
        <form asp-controller="Shop" asp-action="AddToShop" class="row my-5 gx-3">
            <input type="hidden" name="productId" value="@Model.Id" />
            <div class="col-auto">
                <label for="quantity" class="form-label">Quantity:</label>
            </div>
            <div class="col-auto">
                <input type="number" name="quantity" id="quantity" class="form-control" />
            </div>
            <div class="col-auto">
                <button class="btn btn-success">Buy Now</button>
            </div>
        </form>
    </div>
}
else
{
     <p class="text text-danger">Please login to make a order!</p>
}
