<h1>Product added!</h1>


<div class="alert-success" style="margin-bottom:5px; width:390px; height:30px;" >
    you added the new product!
</div>


 <a  class="btn btn-primary" asp-controller="Product" asp-action="Search">Go to the overview of all product</a>
