@using System.Diagnostics
@model PharmaWeb.Data.Product
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


 @await Html.PartialAsync("_ProductDetail",Model) 


    @if (User.Identity.IsAuthenticated)
    {
       <div>
    <form asp-controller="Cart" asp-action="AddToCart" class="row my-5 gx-3">
            <input type="hidden" name="productId" value="@Model.Id" />
            <div class="col-auto">
                <label for="quantity" class="form-label">@localizer["qtt"]</label>
            </div>
            <div class="col-auto">
                <input type="number" name="quantity" id="quantity" class="form-control" />
            </div>
            <div class="col-auto">
                <button class="btn btn-success">@localizer["buybtn"]</button>
            </div>
        </form>
    </div>
    }
    else
    { <p class="text text-danger">@localizer["danger"]</p> }

